<spinner dir="ltr"></spinner>
<nz-layout class="layout">
    <nz-header>
        <div class="logo" routerLink="/dashboard">
            <img src="../assets/img/loading.gif"
                id="logo-img" class="logo-img">
            <h3 class="header-tit">Run Tool</h3>
        </div>
        <!-- Navigation Menu -->
        <ul class="nav-menu">
            <li id="stock-data">
                <a routerLink="/stock-data">Stock AI</a>
            </li>
        </ul>
    </nz-header>
    <nz-content>
        <router-outlet></router-outlet>
    </nz-content>
</nz-layout>