<form *ngIf="userForm" nz-form [nzLayout]="'vertical'" [formGroup]="userForm" (ngSubmit)="submit()">
    <div nz-row [nzGutter]="16">
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label nzRequired>Username</nz-form-label>
                <nz-form-control nzErrorTip="Username Required">
                    <input type="text" nz-input formControlName="username" placeholder="Enter Username" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label nzRequired>FirstName</nz-form-label>
                <nz-form-control nzErrorTip="Username FirstName">
                    <input type="text" nz-input formControlName="firstName" placeholder="Enter FirstName" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label nzRequired>LastName</nz-form-label>
                <nz-form-control nzErrorTip="LastName Required">
                    <input type="text" nz-input formControlName="lastName" placeholder="Enter LastName" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label nzRequired>Age</nz-form-label>
                <nz-form-control nzErrorTip="Username Age">
                    <nz-input-number formControlName="age" [nzPrecision]="2"
                        style="width: 100%" nzPrecisionMode="cut"
                        nzPlaceHolder="Enter Age">
                    </nz-input-number>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label nzRequired>Salary</nz-form-label>
                <nz-form-control nzErrorTip="Username Salary">
                    <nz-input-number formControlName="salary" [nzPrecision]="2"
                        style="width: 100%" nzPrecisionMode="cut"
                        nzPlaceHolder="Enter Salary">
                    </nz-input-number>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="24" class="search-area">
            <button nz-button type="reset" class="save-btn">Reset</button>
            <button nz-button [nzType]="'primary'" [disabled]="!userForm.valid" 
                type="submit" style="float: right" class="save-btn">Save</button>
        </div>
    </div>
</form>