<!-- layout detail -->
<nz-row  nz-row [nzGutter]="16" style="margin-top: 10px;">
    <nz-col [nzSpan]="6">
        <div class="content">
            <!-- refresh -->
            <button nz-button nzType="default" nz-tooltip
                nzTooltipTitle="Scheduler Job"
                [routerLink]="['/file/view/list']">
                <i nz-icon nzType="schedule"></i>
            </button>
            <!-- date filter -->
            <nz-date-picker style="width: 76%;"
                [(ngModel)]="dateFilter"
                (ngModelChange)="onDateChangeEvent($event)">
            </nz-date-picker>
            <!-- refresh -->
            <button nz-button nzType="default" nz-tooltip
                nzTooltipTitle="Refresh"
                (click)="refreshEvent()">
                <i nz-icon nzType="reload"></i>
            </button>
            <!-- daily file show -->
            <div class="table-wrapper">
                <nz-table #processedFile [nzData]="fileInfos"
                    nzSize="small" 
                    [nzShowPagination]="false"
                    [nzShowSizeChanger]="false"
                    [nzPageSize]="fileInfos.length"
                    class="table-setting">
                    <tbody>
                        <tr *ngFor="let file of processedFile?.data">
                            <td (click)="viewStockStatistics(file)">
                                {{file.segmentPath}}
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
    </nz-col>
    <nz-col [nzSpan]="10">
        <!-- dashboard -->
        <div class="content">
            <h4 style="text-align: center;">
                Statistics Summarys
            </h4>
            <hr>
            <nz-table #statistic
                nzSize="small"
                class="table-setting"
                style="line-height: 0.4715;"
                [nzData]="summarys"
                [nzShowPagination]="false"
                [nzShowSizeChanger]="false"
                [nzPageSize]="summarys.length">
                <thead>
                    <tr>
                        <th>Summary</th>
                        <!-- <th>Count</th> -->
                        <th>25%</th>
                        <th>50%</th>
                        <th>75%</th>
                        <th>Max</th>
                        <th>Min</th>
                        <th>Std</th>
                        <th>Mean</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of summarys">
                        <td [ngClass]="data.summary">{{data.summary | uppercase }}</td>
                        <!-- <td>{{data.count}}</td> -->
                        <td>{{data.firstQuartile | number:'1.3-3'}}</td>
                        <td>{{data.median | number:'1.3-3'}}</td>
                        <td>{{data.thirdQuartile | number:'1.3-3'}}</td>
                        <td>{{data.max | number:'1.3-3'}}</td>
                        <td>{{data.min | number:'1.3-3'}}</td>
                        <td>{{data.std | number:'1.3-3'}}</td>
                        <td>{{data.mean | number:'1.3-3'}}</td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
        <div class="content">
            <h4 *ngIf="fileInfo" style="text-align: center;">
                <b>File={{fileInfo.filename}} & Status={{fileInfo.fileStatus}} & Type={{fileInfo.type}}</b>
            </h4>
            <hr>
            <div echarts theme="macarons"
                id="stock_exchange_data"
                style="height: 250px;"
                [options]="stock_exchange_data">
            </div>
        </div>
    </nz-col>
    <nz-col [nzSpan]="8">
        <!-- open -->
        <div class="content">
            <h4 style="text-align: center;">
                Stock Open Graph
            </h4>
            <div echarts theme="macarons"
                id="stock_open_graph" 
                class="stock-hight"
                [options]="stock_open_graph">
            </div>
        </div>
        <!-- hight -->
        <div class="content">
            <h4 style="text-align: center;">
                Stock Hight Graph
            </h4>
            <div echarts theme="macarons"
                id="stock_high_graph" 
                class="stock-hight"
                [options]="stock_high_graph">
            </div>
        </div>
        <!-- low -->
        <div class="content">
            <h4 style="text-align: center;">
                Stock Low Graph
            </h4>
            <div echarts theme="macarons"
                id="stock_low_graph" 
                class="stock-hight"
                [options]="stock_low_graph">
            </div>
        </div>
        <!-- close -->
        <div class="content">
            <h4 style="text-align: center;">
                Stock Close Graph
            </h4>
            <div echarts theme="macarons"
                id="stock_close_graph" 
                class="stock-hight"
                [options]="stock_close_graph">
            </div>
        </div>
    </nz-col>
</nz-row>